[MASTER]

# A comma-separated list of package or module names from where C extensions may
# be loaded. Extensions are loading into the active Python interpreter and may
# run arbitrary code.
extension-pkg-whitelist=lxml.etree

# Good variable names which should always be accepted, separated by a comma.
good-names=x
